<app-header [title]="'Categorias'"></app-header>


<div class="form-categoriainer">
<mat-form-field>
    <input matInput placeholder="Nome Categoria" [(ngModel)]="novoItem.nome">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="adicionarAtualizarItem()">{{modo==='INCLUSAO'?'Adicionar':'Atualizar'}}</button>
  <button mat-raised-button color="secondary" (click)="cancelar()">Cancelar</button>
</div>

<mat-list class="categorias-list">
    @for (item of items; track item) {
    <mat-list-item class="categorias-list-item">

        <mat-list-item>
            <div matListItemLine>
                <span class="item-value">{{item.nome}}</span>
                <button color="primary" mat-icon-button (click)="editItem(item)">
                    <mat-icon>edit</mat-icon>
                </button>

                <button color="warn" mat-icon-button (click)="deleteItem(item)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-list-item>

    </mat-list-item>
    }
</mat-list>